@keyframes blink {
    0% { color: var(--blink-color); }
    50% { color: var(--blink-color-second); }
    100% { color: var(--blink-color); }
}

:root{
    font-size: 16px;
}

html{
    min-height: 100%;
    background: var(--bg-primary);
}

*{
    outline: none;
}

button::-moz-focus-inner{
    border: 0;
}

input, textarea, button, select, a{
    -webkit-tap-highlight-color: #0000;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    color: var(--text-color);
    font-family: 'Exo 2', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    padding: 1.5rem;
}

.monotype{
    font-family: 'Ubuntu Mono', 'Noto Mono', 'Roboto Mono', mono, monospace;
}

button.md-btn{
    font-size: .875rem;
    padding: 0 1.1rem;
    border: .07rem solid rgba(0,0,0,.12);
    background: transparent;
    margin: .57rem;
    margin-left: 0;
    line-height: 2.57rem;
    border-radius: var(--border-radius);
    white-space: nowrap;
    cursor: pointer;
}

.block{
    background: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    margin-bottom: 1.5rem;
    box-shadow: var(--block-shadow);
    min-width: min-content;
}

div.tblock{
    --margin: 1em;
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--margin) * -1);
}

div.tblock > * {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin: var(--margin);
    flex-grow: 1;
    min-width: min-content;
}

.image{
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
}

.image > div{
    background-size: cover;
    background-position: center;
}

.image.round{
    border-radius: 50%;
}

.image > div:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image > div:last-child{
    background: #666;
    padding-bottom: calc(100% / var(--ratio-w) * var(--ratio-h));
}

.image[invert]{
    filter: invert(calc(100% - var(--invert-amount)));
}

.image > img{
    max-width: 100%;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.buttons > *{
    flex-grow: 1;
    /* iOS doesn't support gap in flex, so... */
    margin: .5rem;
}

.dialog-bg{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    pointer-events: none;
    opacity: 0;
    transition: all var(--transition-speed) cubic-bezier(0.5, -0.5, 0.25, 1.5);
}

dialog[open] + .dialog-bg{
    pointer-events: auto;
    opacity: 0.25;
}

dialog:not([open]){
    display: block;
    top: -100%;
}

dialog{
    z-index: 2;
    border-radius: var(--border-radius);
    background: var(--bg-secondary);
    padding: 1.5rem;
    box-shadow: var(--block-shadow);
    border: none;
    top: 50%;
    width: 90%;
    transform: translate(0, -50%);
    transition: all var(--transition-speed) cubic-bezier(0.6, -0.5, 0.25, 1.5);
    position: fixed;
    max-height: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
}

@media (max-width: 500px){
    dialog{
        margin: 0 25px;
    }
}

dialog > div:first-child{
    overflow: hidden auto;
    text-overflow: ellipsis;
}

dialog .buttons{
    display: flex !important;
    max-width: 420px;
    float: right;
    margin-bottom: 0;
}

dialog .buttons > span > button{
    width: 100%
}

.error-container{
    --container-padding: 40px;
    position: fixed;
    bottom: 20px;
    width: calc(100% - (var(--container-padding) * 2));
    left: 0;
    padding: var(--container-padding);
    z-index: 3;
}

.error-container > pre{
    --padding: 20px;
    color: var(--bg-primary);
    background-color: var(--text-color);
    opacity: 0.7;
    border-radius: 5px;
    padding: var(--padding);
    width: calc(100% - (var(--padding) * 2));
    white-space: pre-wrap;
}

/* material ripple effect */

.md-ripple{
    position: relative;
    overflow: hidden;
}

.md-ripple .ripple-wrap{
    --width: 100%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    padding-bottom: var(--width);
    width: var(--width);
}

.md-ripple .ripple{
    --transition: .4s;
    --width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--theme-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
}

.md-ripple .ripple.start{
    transform: scale(0.2);
}

.md-ripple .ripple.active{
    background: transparent;
    transition: var(--transition);
    opacity: 1;
    transform: scale(2);
}

.md-ripple .md-spinner{
    position: absolute;
    color: var(--theme-dark-color);
    width: .75rem;
    top: .25rem;
    right: .25rem;
}

.md-ripple:not(.loading) .md-spinner{
    display: none;
}

/* material design spinner */

@keyframes md-spinner-rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes md-spinner-dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

svg.md-spinner{
    width: 60px;
    animation: md-spinner-rotator 1.4s linear infinite;
}

svg.md-spinner > circle{
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: md-spinner-dash 1.4s ease-in-out infinite;
    stroke: currentColor;
}

/* material design audio block */

.md-audio{
    box-shadow: var(--block-shadow);
    padding: .75rem;
    display: flex;
    background: var(--bg-secondary);
    margin: .5rem 0;
    border-radius: var(--border-radius);
}

.md-audio > .plyr,
.md-audio .plyr__controls{
    width: 100%;
}

.md-audio .plyr__time{
    font-family: 'Ubuntu Mono';
    font-size: 1.1rem;
    cursor: pointer;
}

.md-audio, .md-video{
    position: relative;
    --plyr-color-main: var(--theme-color);
    --plyr-menu-background: var(--bg-secondary);
    --plyr-menu-shadow: var(--block-shadow);
    --plyr-menu-radius: var(--border-radius);
    --plyr-control-spacing: .625rem;
    --plyr-control-icon-size: 1.125rem;
    --plyr-range-thumb-active-shadow-width: .1875rem;
    --plyr-range-thumb-height: .8125rem;
}

.md-audio.stream .live-indicator{
    position: absolute;
    z-index: 2;
    display: block;
    top: 1.6875rem;
    left: 3.9375rem;
}

.md-audio.stream .live-indicator::before{
    --blink-color: var(--live-record-color);
    --blink-color-second: transparent;
    content: '⬤';
    position: relative;
    top: -.0625rem;
    left: -.25rem;
    animation: blink 3s linear infinite;
}

.md-audio .plyr__volume {
    max-width: 6.875rem;
    min-width: 5rem;
}

.loading-container,
.loading-container-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    transition-property: opacity;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-container-background{
    background-color: #000;
}

.loading-container > .logo{
    min-width: 185px;
    max-width: 300px;
    width: 40%;
}

.loading-container > .logo img{
    width: 100%;
}

.loading-container > .logo .title{
    font-size: 2rem;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.loading-container > .loading-text{
    font-size: 1.5rem;
    height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.md-card{
    position: relative;
    display: inline-block;
    perspective: calc(var(--width) * 3);
    max-width: 100%;
}

.md-card-container{
    --border-radius: calc(var(--width) * var(--ratio-r) / (var(--ratio-h) + var(--ratio-w)));
    padding-bottom: calc(var(--ratio-h) / var(--ratio-w) * 100%);
    transform: rotateY(0);
    transition: .3s ease-in-out transform;
    transform-style: preserve-3d;
    font-size: calc(var(--width) / 100 * 7);
}

.md-card.flipped > .md-card-container{
    transform: rotateY(-180deg);
}

.md-card-front, .md-card-back{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--border-radius) * 2);
    height: calc(100% - var(--border-radius) * 2);
    backface-visibility: hidden;
    border-radius: var(--border-radius);
    padding: calc(var(--border-radius));
    overflow: hidden;
    background-color: var(--color, var(--bg-secondary));
    box-shadow: var(--block-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.md-card-front{
    transform: rotateY(0);
}

.md-card-back{
    transform: rotateY(180deg);
}

.md-card-container .tblock{
    width: 100%;
}

.markdown-rendered{
    margin: 0 !important;
}

/* mobile styles */

@media (max-width: 520px) {
    div.tblock > * {
        /**/
    }
}
