body, html{
    margin: 0;
    padding: 0;
}

body{
    background: #b7e1c3;
    font-family: 'Exo 2', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    padding: 1.5em;
}

.monotype{
    font-family: 'Ubuntu Mono', 'Noto Mono', 'Roboto Mono', mono, monospace;
}

button{
    display: block;
}
