:root{
    font-size: 16px;
}

*{
    outline: none;
}

button::-moz-focus-inner{
    border: 0;
}

input, textarea, button, select, a{
    -webkit-tap-highlight-color: #0000;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    background: var(--bg-primary);
    color: var(--text-color);
    font-family: 'Exo 2', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    padding: 1.5rem;
}

.monotype{
    font-family: 'Ubuntu Mono', 'Noto Mono', 'Roboto Mono', mono, monospace;
}

button{
    --tail: calc(1 / 14);
    font-size: .875rem;
    padding: 0 calc((1 + var(--tail)) * 1rem);
    border: calc(var(--tail) * 1rem) solid rgba(0,0,0,.12);
    background: transparent;
    margin: calc((.5 + var(--tail)) * 1rem);
    margin-left: 0;
    line-height: calc((2.5 + var(--tail)) * 1rem);
    border-radius: calc((var(--tail) / 100 + .28) * 1rem);
    white-space: nowrap;
}

.block{
    background: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: var(--block-shadow);
}

div:not([class]) > * {
    --margin: 1rem;
    display: inline-block;
    width: calc(100% / var(--inline-count) - (var(--margin) * (var(--inline-count) - 1) / var(--inline-count)));
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin: var(--margin);
    margin-right: 0;
}

div:not([class]) > *:first-child{
    margin-left: 0;
}

.image{
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
}

.image > div{
    background-size: cover;
    background-position: center;
}

.image.round{
    border-radius: 50%;
}

.image > div:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image > div:last-child{
    background: #666;
    padding-bottom: calc(100% / var(--ratio-w) * var(--ratio-h));
}

.dialog-bg{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    transition: all var(--transition-speed) cubic-bezier(0.5, -0.5, 0.25, 1.5);
}

dialog[open] + .dialog-bg{
    pointer-events: auto;
    opacity: 0.25;
}

dialog:not([open]){
    display: block;
    top: -100%;
}

dialog{
    z-index: 2;
    display: block;
    border-radius: 2rem;
    background: var(--bg-primary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
    border: none;
    top: 50%;
    width: calc(100% - 4rem);
    min-width: 288px;
    transform: translate(0, -50%);
    transition: all var(--transition-speed) cubic-bezier(0.6, -0.5, 0.25, 1.5);
    position: fixed;
}

.error-container{
    --container-padding: 40px;
    position: fixed;
    bottom: 20px;
    width: calc(100% - (var(--container-padding) * 2));
    left: 0;
    padding: var(--container-padding);
}

.error-container > pre{
    --padding: 20px;
    color: var(--bg-primary);
    background-color: var(--text-color);
    opacity: 0.7;
    border-radius: 5px;
    padding: var(--padding);
    width: calc(100% - (var(--padding) * 2));
    white-space: pre-wrap;
}

/* material ripple effect */

.md-ripple{
    position: relative;
    overflow: hidden;
}

.md-ripple .ripple-wrap{
    --width: 100%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    padding-bottom: var(--width);
    width: var(--width);
}

.md-ripple .ripple{
    --transition: .4s;
    --width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--theme-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
}

.md-ripple .ripple.start{
    transform: scale(0.2);
}

.md-ripple .ripple.active{
    background: transparent;
    transition: var(--transition);
    opacity: 1;
    transform: scale(2);
}

.md-ripple .md-spinner{
    position: absolute;
    color: var(--theme-dark-color);
    width: 12px;
    top: 8px;
    right: 8px;
}

.md-ripple:not(.loading) .md-spinner{
    display: none;
}

/* material design spinner */

@keyframes md-spinner-rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes md-spinner-dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

svg.md-spinner{
    width: 60px;
    animation: md-spinner-rotator 1.4s linear infinite;
}

svg.md-spinner > circle{
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: md-spinner-dash 1.4s ease-in-out infinite;
    stroke: currentColor;
}

/* mobile styles */

@media (max-width: 520px) {
    div:not([class]) > * {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}
